.flex-content{}


ul{
	display: inline-block;
}


li{
	margin: 40px;
	border: 2px solid black;
	list-style-type: none;
	width: 50px;
	height: 70px;
	border-radius: 8px;
	box-shadow:  5px 3px  4px 2px black;
	background-color: white;
}
 

 body{
 	background-color; green;
 }
 